
html {

font-size: 25px;
}
body {

background-color:white;
}


h1 {

font-style:italic;
font-family:Georgia;
text-align: left;
position: relative;
}

h2 {

    margin:20px;
    padding:40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}

.container {

justify-content:center;
align-items: center;

}

.nv1 {

position: relative;
bottom: 15px;
}


.picture1 {

width: 400px;
height: 180px;
margin-left: 300px;
position: relative;
right:300px;
top: 20px;

}

.picture2 {

width: 45px;
height: 40px;
}

.col1 {

height:250px;

}

.col2 {

justify-content:left;

}

.navbar1 {

background-color: white;
}